// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  min-width: 100%;
}

body {
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=e0e0e0ff&noise=9e9e9e&density=52&opacity=24");
}

.container {
  width: 90%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.delete {
  color: #C00000;
}

.field_with_errors input,
.field_with_errors textarea {
  border-color: #C00000;
}

#error_explanation {
  position: relative;
  color: #900000;
  padding: 10px;
  width: 83.3333%;
  display: block;
  margin: 0 auto;
}

#error_explanation p {
  background-color: #ffdecc;
  padding: 5px;
  border: 1px solid #e60000;
}


.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  margin: 2px 5px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.contain-to-grid,
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #2D4857;
}

.log-in-form {
  background-color: white;
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

.posts,
.edit {
  background-color: white;
  padding: 20px;
  border: 1px solid #cacaca;
}

.event {
  padding: 1rem 1rem 1rem 0;
  display: table;
}

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto;
  .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top;
  .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}


.unclickable a{
  cursor: default;
}